.tableConfig {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: left;
}

.tableCol1, .tableCol2 {
  width: 350px;
  text-align: left;
}

.tableCol3 {
  text-align: center;
  width: 100px;
}

.headerLine {
  background-color: black;
  color: white;
  height: 30px;
}

tr:hover {
  background-color: #f5f5f5;
}
