<div>
  <H1>LIVRARIA VIRTUAL</H1>
  <div class="">
    <h3 class="" *ngIf="bookList.length > 0">LIVROS CADASTRADOS</h3>
    <h3 class="" *ngIf="bookList.length == 0">NENHUM LIVRO CADASTRADO</h3>
    <table class="tableConfig">
      <tr class="headerLine">
        <th class="tableCol1">TÍTULO</th>
        <th class="tableCol2">DESCRIÇÃO</th>
        <th class="tableCol3">PREÇO</th>
      </tr>
      <tr class="" *ngFor="let book of bookList" (click)='selectBook(book)'>
        <td class="tableCol1">{{book.titulo}}</td>
        <td class="tableCol2">{{book.descricao}}</td>
        <td class="tableCol3">{{book.preco | currency}}</td>
      </tr>
    </table>
    <br/>
    <button><a routerLink="/cadastro">Cadastrar Livro</a></button>
  </div>
</div>
